<robot name = "robot">
    <link name="rootLink">
        <inertial>
            <origin xyz="0 0 1" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 1" rpy="0 0 0"/>
            <geometry>
                <box size="1 1 1" />
            </geometry>
            <material name="Green">
                <color rgba="0 1 0 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 1" rpy="0 0 0"/>
            <geometry>
                <box size="1 1 1" />
            </geometry>
        </collision>
    </link>
    <joint name="rootLink_link1NPP" type="revolute">
       <parent link="rootLink"/>
       <child  link="link1NPP"/>
       <origin rpy="0 0 0" xyz="0 0.5 0.5" />
       <axis xyz="0 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <joint name="rootLink_link1NNP" type="revolute">
       <parent link="rootLink"/>
       <child  link="link1NNP"/>
       <origin rpy="0 0 0" xyz="0 -0.5 0.5" />
       <axis xyz="0 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="link1NPP">
        <inertial>
            <origin xyz="0 1 1" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 1 1" rpy="0 0 0"/>
            <geometry>
                <box size="0 0 1" />
            </geometry>
            <material name="Green">
                <color rgba="0 1 0 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 1 1" rpy="0 0 0"/>
            <geometry>
                <box size="0 0 1" />
            </geometry>
        </collision>
    </link>
    <link name="link2NPP">
        <inertial>
            <origin xyz="-0.3956064464023604 0 0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="-0.3956064464023604 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.7912128928047208 0.41772779906059254 0.3078700854786062" />
            </geometry>
            <material name="Green">
                <color rgba="0 1 0 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="-0.3956064464023604 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.7912128928047208 0.41772779906059254 0.3078700854786062" />
            </geometry>
        </collision>
    </link>
    <link name="link3NPP">
        <inertial>
            <origin xyz="0 0.15757558297128 0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0.15757558297128 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.481780449212406 0.31515116594256 0.4873609578029971" />
            </geometry>
            <material name="Blue">
                <color rgba="0 0 1 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0.15757558297128 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.481780449212406 0.31515116594256 0.4873609578029971" />
            </geometry>
        </collision>
    </link>
    <link name="link4NPP">
        <inertial>
            <origin xyz="-0.3862477401205825 0 0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="-0.3862477401205825 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.772495480241165 0.3552068941250023 0.5315343906217979" />
            </geometry>
            <material name="Blue">
                <color rgba="0 0 1 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="-0.3862477401205825 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.772495480241165 0.3552068941250023 0.5315343906217979" />
            </geometry>
        </collision>
    </link>
    <link name="link5NPP">
        <inertial>
            <origin xyz="0 0 0.23376067626500063" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 0.23376067626500063" rpy="0 0 0"/>
            <geometry>
                <box size="0.20121937748537616 0.27692381649787035 0.46752135253000127" />
            </geometry>
            <material name="Green">
                <color rgba="0 1 0 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 0.23376067626500063" rpy="0 0 0"/>
            <geometry>
                <box size="0.20121937748537616 0.27692381649787035 0.46752135253000127" />
            </geometry>
        </collision>
    </link>
    <link name="link6NPP">
        <inertial>
            <origin xyz="-0.17972464782711284 0 0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="-0.17972464782711284 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.3594492956542257 0.5104974701437937 0.7280039184121756" />
            </geometry>
            <material name="Blue">
                <color rgba="0 0 1 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="-0.17972464782711284 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.3594492956542257 0.5104974701437937 0.7280039184121756" />
            </geometry>
        </collision>
    </link>
    <link name="link7NPP">
        <inertial>
            <origin xyz="0 0 0.36968163135639653" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 0.36968163135639653" rpy="0 0 0"/>
            <geometry>
                <box size="0.3073355629613979 0.3772877123181715 0.7393632627127931" />
            </geometry>
            <material name="Blue">
                <color rgba="0 0 1 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 0.36968163135639653" rpy="0 0 0"/>
            <geometry>
                <box size="0.3073355629613979 0.3772877123181715 0.7393632627127931" />
            </geometry>
        </collision>
    </link>
    <link name="link1NNP">
        <inertial>
            <origin xyz="0 1 1" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 1 1" rpy="0 0 0"/>
            <geometry>
                <box size="0 0 1" />
            </geometry>
            <material name="Green">
                <color rgba="0 1 0 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 1 1" rpy="0 0 0"/>
            <geometry>
                <box size="0 0 1" />
            </geometry>
        </collision>
    </link>
    <link name="link2NNP">
        <inertial>
            <origin xyz="-0.3956064464023604 0 0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="-0.3956064464023604 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.7912128928047208 0.41772779906059254 0.3078700854786062" />
            </geometry>
            <material name="Green">
                <color rgba="0 1 0 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="-0.3956064464023604 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.7912128928047208 0.41772779906059254 0.3078700854786062" />
            </geometry>
        </collision>
    </link>
    <link name="link3NNP">
        <inertial>
            <origin xyz="0 -0.15757558297128 0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 -0.15757558297128 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.481780449212406 0.31515116594256 0.4873609578029971" />
            </geometry>
            <material name="Blue">
                <color rgba="0 0 1 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 -0.15757558297128 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.481780449212406 0.31515116594256 0.4873609578029971" />
            </geometry>
        </collision>
    </link>
    <link name="link4NNP">
        <inertial>
            <origin xyz="-0.3862477401205825 0 0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="-0.3862477401205825 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.772495480241165 0.3552068941250023 0.5315343906217979" />
            </geometry>
            <material name="Blue">
                <color rgba="0 0 1 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="-0.3862477401205825 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.772495480241165 0.3552068941250023 0.5315343906217979" />
            </geometry>
        </collision>
    </link>
    <link name="link5NNP">
        <inertial>
            <origin xyz="0 0 0.23376067626500063" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 0.23376067626500063" rpy="0 0 0"/>
            <geometry>
                <box size="0.20121937748537616 0.27692381649787035 0.46752135253000127" />
            </geometry>
            <material name="Green">
                <color rgba="0 1 0 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 0.23376067626500063" rpy="0 0 0"/>
            <geometry>
                <box size="0.20121937748537616 0.27692381649787035 0.46752135253000127" />
            </geometry>
        </collision>
    </link>
    <link name="link6NNP">
        <inertial>
            <origin xyz="-0.17972464782711284 0 0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="-0.17972464782711284 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.3594492956542257 0.5104974701437937 0.7280039184121756" />
            </geometry>
            <material name="Blue">
                <color rgba="0 0 1 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="-0.17972464782711284 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.3594492956542257 0.5104974701437937 0.7280039184121756" />
            </geometry>
        </collision>
    </link>
    <link name="link7NNP">
        <inertial>
            <origin xyz="0 0 0.36968163135639653" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 0.36968163135639653" rpy="0 0 0"/>
            <geometry>
                <box size="0.3073355629613979 0.3772877123181715 0.7393632627127931" />
            </geometry>
            <material name="Blue">
                <color rgba="0 0 1 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 0.36968163135639653" rpy="0 0 0"/>
            <geometry>
                <box size="0.3073355629613979 0.3772877123181715 0.7393632627127931" />
            </geometry>
        </collision>
    </link>
    <joint name="link1NPP_link2NPP" type="revolute">
       <parent link="link1NPP"/>
       <child  link="link2NPP"/>
       <origin rpy="0 0 0" xyz="0.0 0 0.5" />
       <axis xyz="0 0 1"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <joint name="link2NPP_link3NPP" type="revolute">
       <parent link="link2NPP"/>
       <child  link="link3NPP"/>
       <origin rpy="0 0 0" xyz="-0.3956064464023604 0.20886389953029627 0" />
       <axis xyz="1 0 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <joint name="link3NPP_link4NPP" type="revolute">
       <parent link="link3NPP"/>
       <child  link="link4NPP"/>
       <origin rpy="0 0 0" xyz="-0.240890224606203 0.15757558297128 0" />
       <axis xyz="0 0 1"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <joint name="link4NPP_link5NPP" type="revolute">
       <parent link="link4NPP"/>
       <child  link="link5NPP"/>
       <origin rpy="0 0 0" xyz="-0.3862477401205825 0 0.26576719531089893" />
       <axis xyz="0 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <joint name="link5NPP_link6NPP" type="revolute">
       <parent link="link5NPP"/>
       <child  link="link6NPP"/>
       <origin rpy="0 0 0" xyz="-0.10060968874268808 0 0.23376067626500063" />
       <axis xyz="0 0 1"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <joint name="link6NPP_link7NPP" type="revolute">
       <parent link="link6NPP"/>
       <child  link="link7NPP"/>
       <origin rpy="0 0 0" xyz="-0.17972464782711284 0 0.3640019592060878" />
       <axis xyz="0 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <joint name="link1NNP_link2NNP" type="revolute">
       <parent link="link1NNP"/>
       <child  link="link2NNP"/>
       <origin rpy="0 0 0" xyz="0.0 0 0.5" />
       <axis xyz="0 0 1"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <joint name="link2NNP_link3NNP" type="revolute">
       <parent link="link2NNP"/>
       <child  link="link3NNP"/>
       <origin rpy="0 0 0" xyz="-0.3956064464023604 -0.20886389953029627 0" />
       <axis xyz="1 0 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <joint name="link3NNP_link4NNP" type="revolute">
       <parent link="link3NNP"/>
       <child  link="link4NNP"/>
       <origin rpy="0 0 0" xyz="-0.240890224606203 -0.15757558297128 0" />
       <axis xyz="0 0 1"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <joint name="link4NNP_link5NNP" type="revolute">
       <parent link="link4NNP"/>
       <child  link="link5NNP"/>
       <origin rpy="0 0 0" xyz="-0.3862477401205825 0 0.26576719531089893" />
       <axis xyz="0 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <joint name="link5NNP_link6NNP" type="revolute">
       <parent link="link5NNP"/>
       <child  link="link6NNP"/>
       <origin rpy="0 0 0" xyz="-0.10060968874268808 0 0.23376067626500063" />
       <axis xyz="0 0 1"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <joint name="link6NNP_link7NNP" type="revolute">
       <parent link="link6NNP"/>
       <child  link="link7NNP"/>
       <origin rpy="0 0 0" xyz="-0.17972464782711284 0 0.3640019592060878" />
       <axis xyz="0 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
</robot>