<robot name = "robot">
    <link name="rootLink">
        <inertial>
            <origin xyz="0 0 1" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 1" rpy="0 0 0"/>
            <geometry>
                <box size="1 1 1" />
            </geometry>
            <material name="Green">
                <color rgba="0 1 0 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 1" rpy="0 0 0"/>
            <geometry>
                <box size="1 1 1" />
            </geometry>
        </collision>
    </link>
    <joint name="rootLink_link1NPP" type="revolute">
       <parent link="rootLink"/>
       <child  link="link1NPP"/>
       <origin rpy="0 0 0" xyz="0 0.5 0.5" />
       <axis xyz="0 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <joint name="rootLink_link1NNP" type="revolute">
       <parent link="rootLink"/>
       <child  link="link1NNP"/>
       <origin rpy="0 0 0" xyz="0 -0.5 0.5" />
       <axis xyz="0 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="link1NPP">
        <inertial>
            <origin xyz="0 1 1" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 1 1" rpy="0 0 0"/>
            <geometry>
                <box size="0 0 1" />
            </geometry>
            <material name="Green">
                <color rgba="0 1 0 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 1 1" rpy="0 0 0"/>
            <geometry>
                <box size="0 0 1" />
            </geometry>
        </collision>
    </link>
    <link name="link2NPP">
        <inertial>
            <origin xyz="0 0.2802277439812038 0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0.2802277439812038 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.43173131069789106 0.5604554879624076 0.5342725206953085" />
            </geometry>
            <material name="Blue">
                <color rgba="0 0 1 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0.2802277439812038 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.43173131069789106 0.5604554879624076 0.5342725206953085" />
            </geometry>
        </collision>
    </link>
    <link name="link3NPP">
        <inertial>
            <origin xyz="-0.43819679257583677 0 0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="-0.43819679257583677 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.8763935851516735 0.5888935219900873 0.6859439288758544" />
            </geometry>
            <material name="Green">
                <color rgba="0 1 0 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="-0.43819679257583677 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.8763935851516735 0.5888935219900873 0.6859439288758544" />
            </geometry>
        </collision>
    </link>
    <link name="link4NPP">
        <inertial>
            <origin xyz="0 0.25961189422083164 0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0.25961189422083164 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.8810532859848543 0.5192237884416633 0.7255876415089073" />
            </geometry>
            <material name="Green">
                <color rgba="0 1 0 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0.25961189422083164 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.8810532859848543 0.5192237884416633 0.7255876415089073" />
            </geometry>
        </collision>
    </link>
    <link name="link5NPP">
        <inertial>
            <origin xyz="-0.4493665559754515 0 0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="-0.4493665559754515 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.898733111950903 0.2156424149273135 0.6960023468840468" />
            </geometry>
            <material name="Green">
                <color rgba="0 1 0 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="-0.4493665559754515 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.898733111950903 0.2156424149273135 0.6960023468840468" />
            </geometry>
        </collision>
    </link>
    <link name="link6NPP">
        <inertial>
            <origin xyz="0 0.19544639956220333 0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0.19544639956220333 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.392847581226926 0.39089279912440666 0.31279391782438454" />
            </geometry>
            <material name="Green">
                <color rgba="0 1 0 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0.19544639956220333 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.392847581226926 0.39089279912440666 0.31279391782438454" />
            </geometry>
        </collision>
    </link>
    <link name="link7NPP">
        <inertial>
            <origin xyz="-0.47984832168725 0 0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="-0.47984832168725 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.9596966433745 0.4099598850570194 0.7606330536976842" />
            </geometry>
            <material name="Blue">
                <color rgba="0 0 1 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="-0.47984832168725 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.9596966433745 0.4099598850570194 0.7606330536976842" />
            </geometry>
        </collision>
    </link>
    <link name="link1NNP">
        <inertial>
            <origin xyz="0 1 1" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 1 1" rpy="0 0 0"/>
            <geometry>
                <box size="0 0 1" />
            </geometry>
            <material name="Green">
                <color rgba="0 1 0 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 1 1" rpy="0 0 0"/>
            <geometry>
                <box size="0 0 1" />
            </geometry>
        </collision>
    </link>
    <link name="link2NNP">
        <inertial>
            <origin xyz="0 -0.2802277439812038 0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 -0.2802277439812038 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.43173131069789106 0.5604554879624076 0.5342725206953085" />
            </geometry>
            <material name="Blue">
                <color rgba="0 0 1 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 -0.2802277439812038 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.43173131069789106 0.5604554879624076 0.5342725206953085" />
            </geometry>
        </collision>
    </link>
    <link name="link3NNP">
        <inertial>
            <origin xyz="-0.43819679257583677 0 0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="-0.43819679257583677 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.8763935851516735 0.5888935219900873 0.6859439288758544" />
            </geometry>
            <material name="Green">
                <color rgba="0 1 0 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="-0.43819679257583677 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.8763935851516735 0.5888935219900873 0.6859439288758544" />
            </geometry>
        </collision>
    </link>
    <link name="link4NNP">
        <inertial>
            <origin xyz="0 -0.25961189422083164 0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 -0.25961189422083164 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.8810532859848543 0.5192237884416633 0.7255876415089073" />
            </geometry>
            <material name="Green">
                <color rgba="0 1 0 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 -0.25961189422083164 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.8810532859848543 0.5192237884416633 0.7255876415089073" />
            </geometry>
        </collision>
    </link>
    <link name="link5NNP">
        <inertial>
            <origin xyz="-0.4493665559754515 0 0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="-0.4493665559754515 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.898733111950903 0.2156424149273135 0.6960023468840468" />
            </geometry>
            <material name="Green">
                <color rgba="0 1 0 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="-0.4493665559754515 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.898733111950903 0.2156424149273135 0.6960023468840468" />
            </geometry>
        </collision>
    </link>
    <link name="link6NNP">
        <inertial>
            <origin xyz="0 -0.19544639956220333 0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 -0.19544639956220333 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.392847581226926 0.39089279912440666 0.31279391782438454" />
            </geometry>
            <material name="Green">
                <color rgba="0 1 0 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 -0.19544639956220333 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.392847581226926 0.39089279912440666 0.31279391782438454" />
            </geometry>
        </collision>
    </link>
    <link name="link7NNP">
        <inertial>
            <origin xyz="-0.47984832168725 0 0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="-0.47984832168725 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.9596966433745 0.4099598850570194 0.7606330536976842" />
            </geometry>
            <material name="Blue">
                <color rgba="0 0 1 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="-0.47984832168725 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.9596966433745 0.4099598850570194 0.7606330536976842" />
            </geometry>
        </collision>
    </link>
    <joint name="link1NPP_link2NPP" type="revolute">
       <parent link="link1NPP"/>
       <child  link="link2NPP"/>
       <origin rpy="0 0 0" xyz="0 0.0 0.5" />
       <axis xyz="0 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <joint name="link2NPP_link3NPP" type="revolute">
       <parent link="link2NPP"/>
       <child  link="link3NPP"/>
       <origin rpy="0 0 0" xyz="-0.21586565534894553 0.2802277439812038 0" />
       <axis xyz="1 0 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <joint name="link3NPP_link4NPP" type="revolute">
       <parent link="link3NPP"/>
       <child  link="link4NPP"/>
       <origin rpy="0 0 0" xyz="-0.43819679257583677 0.29444676099504363 0" />
       <axis xyz="0 0 1"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <joint name="link4NPP_link5NPP" type="revolute">
       <parent link="link4NPP"/>
       <child  link="link5NPP"/>
       <origin rpy="0 0 0" xyz="-0.44052664299242716 0.25961189422083164 0" />
       <axis xyz="0 0 1"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <joint name="link5NPP_link6NPP" type="revolute">
       <parent link="link5NPP"/>
       <child  link="link6NPP"/>
       <origin rpy="0 0 0" xyz="-0.4493665559754515 0.10782120746365675 0" />
       <axis xyz="1 0 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <joint name="link6NPP_link7NPP" type="revolute">
       <parent link="link6NPP"/>
       <child  link="link7NPP"/>
       <origin rpy="0 0 0" xyz="-0.196423790613463 0.19544639956220333 0" />
       <axis xyz="1 0 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <joint name="link1NNP_link2NNP" type="revolute">
       <parent link="link1NNP"/>
       <child  link="link2NNP"/>
       <origin rpy="0 0 0" xyz="0 0.0 0.5" />
       <axis xyz="0 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <joint name="link2NNP_link3NNP" type="revolute">
       <parent link="link2NNP"/>
       <child  link="link3NNP"/>
       <origin rpy="0 0 0" xyz="-0.21586565534894553 -0.2802277439812038 0" />
       <axis xyz="1 0 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <joint name="link3NNP_link4NNP" type="revolute">
       <parent link="link3NNP"/>
       <child  link="link4NNP"/>
       <origin rpy="0 0 0" xyz="-0.43819679257583677 -0.29444676099504363 0" />
       <axis xyz="0 0 1"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <joint name="link4NNP_link5NNP" type="revolute">
       <parent link="link4NNP"/>
       <child  link="link5NNP"/>
       <origin rpy="0 0 0" xyz="-0.44052664299242716 -0.25961189422083164 0" />
       <axis xyz="0 0 1"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <joint name="link5NNP_link6NNP" type="revolute">
       <parent link="link5NNP"/>
       <child  link="link6NNP"/>
       <origin rpy="0 0 0" xyz="-0.4493665559754515 -0.10782120746365675 0" />
       <axis xyz="1 0 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <joint name="link6NNP_link7NNP" type="revolute">
       <parent link="link6NNP"/>
       <child  link="link7NNP"/>
       <origin rpy="0 0 0" xyz="-0.196423790613463 -0.19544639956220333 0" />
       <axis xyz="1 0 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
</robot>