<robot name = "robot">
    <link name="rootLink">
        <inertial>
            <origin xyz="0 0 1" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 1" rpy="0 0 0"/>
            <geometry>
                <box size="1 1 1" />
            </geometry>
            <material name="Green">
                <color rgba="0 1 0 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 1" rpy="0 0 0"/>
            <geometry>
                <box size="1 1 1" />
            </geometry>
        </collision>
    </link>
    <joint name="rootLink_link1NPP" type="revolute">
       <parent link="rootLink"/>
       <child  link="link1NPP"/>
       <origin rpy="0 0 0" xyz="0 0.5 0.5" />
       <axis xyz="0 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <joint name="rootLink_link1NNP" type="revolute">
       <parent link="rootLink"/>
       <child  link="link1NNP"/>
       <origin rpy="0 0 0" xyz="0 -0.5 0.5" />
       <axis xyz="0 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="link1NPP">
        <inertial>
            <origin xyz="0 1 1" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 1 1" rpy="0 0 0"/>
            <geometry>
                <box size="0 0 1" />
            </geometry>
            <material name="Blue">
                <color rgba="0 0 1 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 1 1" rpy="0 0 0"/>
            <geometry>
                <box size="0 0 1" />
            </geometry>
        </collision>
    </link>
    <link name="link2NPP">
        <inertial>
            <origin xyz="0 0.12320161268054737 0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0.12320161268054737 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.2994598417227657 0.24640322536109474 0.5981876160295923" />
            </geometry>
            <material name="Green">
                <color rgba="0 1 0 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0.12320161268054737 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.2994598417227657 0.24640322536109474 0.5981876160295923" />
            </geometry>
        </collision>
    </link>
    <link name="link3NPP">
        <inertial>
            <origin xyz="-0.2207612464877424 0 0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="-0.2207612464877424 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.4415224929754848 0.49390039648744605 0.9155198225716596" />
            </geometry>
            <material name="Blue">
                <color rgba="0 0 1 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="-0.2207612464877424 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.4415224929754848 0.49390039648744605 0.9155198225716596" />
            </geometry>
        </collision>
    </link>
    <link name="link4NPP">
        <inertial>
            <origin xyz="0 0.17511426926570905 0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0.17511426926570905 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.7013936374454939 0.3502285385314181 0.9796484171837554" />
            </geometry>
            <material name="Blue">
                <color rgba="0 0 1 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0.17511426926570905 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.7013936374454939 0.3502285385314181 0.9796484171837554" />
            </geometry>
        </collision>
    </link>
    <link name="link5NPP">
        <inertial>
            <origin xyz="-0.1263338709109204 0 0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="-0.1263338709109204 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.2526677418218408 0.23386782764804448 0.7998956574264688" />
            </geometry>
            <material name="Green">
                <color rgba="0 1 0 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="-0.1263338709109204 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.2526677418218408 0.23386782764804448 0.7998956574264688" />
            </geometry>
        </collision>
    </link>
    <link name="link6NPP">
        <inertial>
            <origin xyz="0 0.20871463031085263 0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0.20871463031085263 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.964523897377217 0.41742926062170527 0.7931416498336212" />
            </geometry>
            <material name="Green">
                <color rgba="0 1 0 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0.20871463031085263 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.964523897377217 0.41742926062170527 0.7931416498336212" />
            </geometry>
        </collision>
    </link>
    <link name="link7NPP">
        <inertial>
            <origin xyz="-0.49268963435126156 0 0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="-0.49268963435126156 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.9853792687025231 0.5219197749153917 0.9544809634955285" />
            </geometry>
            <material name="Green">
                <color rgba="0 1 0 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="-0.49268963435126156 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.9853792687025231 0.5219197749153917 0.9544809634955285" />
            </geometry>
        </collision>
    </link>
    <link name="link8NPP">
        <inertial>
            <origin xyz="0 0 0.3153780618554385" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 0.3153780618554385" rpy="0 0 0"/>
            <geometry>
                <box size="0.5150441763689932 0.4513888793618346 0.630756123710877" />
            </geometry>
            <material name="Green">
                <color rgba="0 1 0 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 0.3153780618554385" rpy="0 0 0"/>
            <geometry>
                <box size="0.5150441763689932 0.4513888793618346 0.630756123710877" />
            </geometry>
        </collision>
    </link>
    <link name="link1NNP">
        <inertial>
            <origin xyz="0 1 1" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 1 1" rpy="0 0 0"/>
            <geometry>
                <box size="0 0 1" />
            </geometry>
            <material name="Blue">
                <color rgba="0 0 1 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 1 1" rpy="0 0 0"/>
            <geometry>
                <box size="0 0 1" />
            </geometry>
        </collision>
    </link>
    <link name="link2NNP">
        <inertial>
            <origin xyz="0 -0.12320161268054737 0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 -0.12320161268054737 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.2994598417227657 0.24640322536109474 0.5981876160295923" />
            </geometry>
            <material name="Green">
                <color rgba="0 1 0 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 -0.12320161268054737 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.2994598417227657 0.24640322536109474 0.5981876160295923" />
            </geometry>
        </collision>
    </link>
    <link name="link3NNP">
        <inertial>
            <origin xyz="-0.2207612464877424 0 0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="-0.2207612464877424 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.4415224929754848 0.49390039648744605 0.9155198225716596" />
            </geometry>
            <material name="Blue">
                <color rgba="0 0 1 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="-0.2207612464877424 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.4415224929754848 0.49390039648744605 0.9155198225716596" />
            </geometry>
        </collision>
    </link>
    <link name="link4NNP">
        <inertial>
            <origin xyz="0 -0.17511426926570905 0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 -0.17511426926570905 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.7013936374454939 0.3502285385314181 0.9796484171837554" />
            </geometry>
            <material name="Blue">
                <color rgba="0 0 1 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 -0.17511426926570905 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.7013936374454939 0.3502285385314181 0.9796484171837554" />
            </geometry>
        </collision>
    </link>
    <link name="link5NNP">
        <inertial>
            <origin xyz="-0.1263338709109204 0 0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="-0.1263338709109204 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.2526677418218408 0.23386782764804448 0.7998956574264688" />
            </geometry>
            <material name="Green">
                <color rgba="0 1 0 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="-0.1263338709109204 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.2526677418218408 0.23386782764804448 0.7998956574264688" />
            </geometry>
        </collision>
    </link>
    <link name="link6NNP">
        <inertial>
            <origin xyz="0 -0.20871463031085263 0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 -0.20871463031085263 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.964523897377217 0.41742926062170527 0.7931416498336212" />
            </geometry>
            <material name="Green">
                <color rgba="0 1 0 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 -0.20871463031085263 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.964523897377217 0.41742926062170527 0.7931416498336212" />
            </geometry>
        </collision>
    </link>
    <link name="link7NNP">
        <inertial>
            <origin xyz="-0.49268963435126156 0 0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="-0.49268963435126156 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.9853792687025231 0.5219197749153917 0.9544809634955285" />
            </geometry>
            <material name="Green">
                <color rgba="0 1 0 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="-0.49268963435126156 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.9853792687025231 0.5219197749153917 0.9544809634955285" />
            </geometry>
        </collision>
    </link>
    <link name="link8NNP">
        <inertial>
            <origin xyz="0 0 0.3153780618554385" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 0.3153780618554385" rpy="0 0 0"/>
            <geometry>
                <box size="0.5150441763689932 0.4513888793618346 0.630756123710877" />
            </geometry>
            <material name="Green">
                <color rgba="0 1 0 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 0.3153780618554385" rpy="0 0 0"/>
            <geometry>
                <box size="0.5150441763689932 0.4513888793618346 0.630756123710877" />
            </geometry>
        </collision>
    </link>
    <joint name="link1NPP_link2NPP" type="revolute">
       <parent link="link1NPP"/>
       <child  link="link2NPP"/>
       <origin rpy="0 0 0" xyz="0 0.0 0.5" />
       <axis xyz="0 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <joint name="link2NPP_link3NPP" type="revolute">
       <parent link="link2NPP"/>
       <child  link="link3NPP"/>
       <origin rpy="0 0 0" xyz="-0.14972992086138284 0.12320161268054737 0" />
       <axis xyz="0 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <joint name="link3NPP_link4NPP" type="revolute">
       <parent link="link3NPP"/>
       <child  link="link4NPP"/>
       <origin rpy="0 0 0" xyz="-0.2207612464877424 0.24695019824372302 0" />
       <axis xyz="0 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <joint name="link4NPP_link5NPP" type="revolute">
       <parent link="link4NPP"/>
       <child  link="link5NPP"/>
       <origin rpy="0 0 0" xyz="-0.35069681872274694 0.17511426926570905 0" />
       <axis xyz="0 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <joint name="link5NPP_link6NPP" type="revolute">
       <parent link="link5NPP"/>
       <child  link="link6NPP"/>
       <origin rpy="0 0 0" xyz="-0.1263338709109204 0.11693391382402224 0" />
       <axis xyz="0 0 1"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <joint name="link6NPP_link7NPP" type="revolute">
       <parent link="link6NPP"/>
       <child  link="link7NPP"/>
       <origin rpy="0 0 0" xyz="-0.4822619486886085 0.20871463031085263 0" />
       <axis xyz="0 0 1"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <joint name="link7NPP_link8NPP" type="revolute">
       <parent link="link7NPP"/>
       <child  link="link8NPP"/>
       <origin rpy="0 0 0" xyz="-0.49268963435126156 0 0.47724048174776423" />
       <axis xyz="1 0 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <joint name="link1NNP_link2NNP" type="revolute">
       <parent link="link1NNP"/>
       <child  link="link2NNP"/>
       <origin rpy="0 0 0" xyz="0 0.0 0.5" />
       <axis xyz="0 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <joint name="link2NNP_link3NNP" type="revolute">
       <parent link="link2NNP"/>
       <child  link="link3NNP"/>
       <origin rpy="0 0 0" xyz="-0.14972992086138284 -0.12320161268054737 0" />
       <axis xyz="0 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <joint name="link3NNP_link4NNP" type="revolute">
       <parent link="link3NNP"/>
       <child  link="link4NNP"/>
       <origin rpy="0 0 0" xyz="-0.2207612464877424 -0.24695019824372302 0" />
       <axis xyz="0 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <joint name="link4NNP_link5NNP" type="revolute">
       <parent link="link4NNP"/>
       <child  link="link5NNP"/>
       <origin rpy="0 0 0" xyz="-0.35069681872274694 -0.17511426926570905 0" />
       <axis xyz="0 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <joint name="link5NNP_link6NNP" type="revolute">
       <parent link="link5NNP"/>
       <child  link="link6NNP"/>
       <origin rpy="0 0 0" xyz="-0.1263338709109204 -0.11693391382402224 0" />
       <axis xyz="0 0 1"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <joint name="link6NNP_link7NNP" type="revolute">
       <parent link="link6NNP"/>
       <child  link="link7NNP"/>
       <origin rpy="0 0 0" xyz="-0.4822619486886085 -0.20871463031085263 0" />
       <axis xyz="0 0 1"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <joint name="link7NNP_link8NNP" type="revolute">
       <parent link="link7NNP"/>
       <child  link="link8NNP"/>
       <origin rpy="0 0 0" xyz="-0.49268963435126156 0 0.47724048174776423" />
       <axis xyz="1 0 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
</robot>