<robot name = "robot">
    <link name="rootLink">
        <inertial>
            <origin xyz="0 0 1" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 1" rpy="0 0 0"/>
            <geometry>
                <box size="1 1 1" />
            </geometry>
            <material name="Green">
                <color rgba="0 1 0 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 1" rpy="0 0 0"/>
            <geometry>
                <box size="1 1 1" />
            </geometry>
        </collision>
    </link>
    <joint name="rootLink_link1NPP" type="revolute">
       <parent link="rootLink"/>
       <child  link="link1NPP"/>
       <origin rpy="0 0 0" xyz="0 0.5 0.5" />
       <axis xyz="0 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <joint name="rootLink_link1NNP" type="revolute">
       <parent link="rootLink"/>
       <child  link="link1NNP"/>
       <origin rpy="0 0 0" xyz="0 -0.5 0.5" />
       <axis xyz="0 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="link1NPP">
        <inertial>
            <origin xyz="0 1 1" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 1 1" rpy="0 0 0"/>
            <geometry>
                <box size="0 0 1" />
            </geometry>
            <material name="Green">
                <color rgba="0 1 0 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 1 1" rpy="0 0 0"/>
            <geometry>
                <box size="0 0 1" />
            </geometry>
        </collision>
    </link>
    <link name="link2NPP">
        <inertial>
            <origin xyz="0 0.1834970151129024 0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0.1834970151129024 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.9596380274207295 0.3669940302258048 0.20271424778416547" />
            </geometry>
            <material name="Blue">
                <color rgba="0 0 1 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0.1834970151129024 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.9596380274207295 0.3669940302258048 0.20271424778416547" />
            </geometry>
        </collision>
    </link>
    <link name="link3NPP">
        <inertial>
            <origin xyz="-0.38692965732441487 0 0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="-0.38692965732441487 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.7738593146488297 0.20094302588774157 0.8581851284251327" />
            </geometry>
            <material name="Green">
                <color rgba="0 1 0 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="-0.38692965732441487 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.7738593146488297 0.20094302588774157 0.8581851284251327" />
            </geometry>
        </collision>
    </link>
    <link name="link4NPP">
        <inertial>
            <origin xyz="0 0.2216719279427311 0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0.2216719279427311 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.3523679442340368 0.4433438558854622 0.358813100300156" />
            </geometry>
            <material name="Green">
                <color rgba="0 1 0 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0.2216719279427311 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.3523679442340368 0.4433438558854622 0.358813100300156" />
            </geometry>
        </collision>
    </link>
    <link name="link5NPP">
        <inertial>
            <origin xyz="0 0 0.14007227562548363" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 0.14007227562548363" rpy="0 0 0"/>
            <geometry>
                <box size="0.42398619466149806 0.5914060747093592 0.28014455125096727" />
            </geometry>
            <material name="Green">
                <color rgba="0 1 0 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 0.14007227562548363" rpy="0 0 0"/>
            <geometry>
                <box size="0.42398619466149806 0.5914060747093592 0.28014455125096727" />
            </geometry>
        </collision>
    </link>
    <link name="link6NPP">
        <inertial>
            <origin xyz="0 0.24238133147195096 0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0.24238133147195096 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.6918973254173615 0.4847626629439019 0.33806094368031625" />
            </geometry>
            <material name="Green">
                <color rgba="0 1 0 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0.24238133147195096 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.6918973254173615 0.4847626629439019 0.33806094368031625" />
            </geometry>
        </collision>
    </link>
    <link name="link7NPP">
        <inertial>
            <origin xyz="0 0 0.16138651900126308" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 0.16138651900126308" rpy="0 0 0"/>
            <geometry>
                <box size="0.5567389293784314 0.20430871669919531 0.32277303800252616" />
            </geometry>
            <material name="Blue">
                <color rgba="0 0 1 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 0.16138651900126308" rpy="0 0 0"/>
            <geometry>
                <box size="0.5567389293784314 0.20430871669919531 0.32277303800252616" />
            </geometry>
        </collision>
    </link>
    <link name="link1NNP">
        <inertial>
            <origin xyz="0 1 1" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 1 1" rpy="0 0 0"/>
            <geometry>
                <box size="0 0 1" />
            </geometry>
            <material name="Green">
                <color rgba="0 1 0 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 1 1" rpy="0 0 0"/>
            <geometry>
                <box size="0 0 1" />
            </geometry>
        </collision>
    </link>
    <link name="link2NNP">
        <inertial>
            <origin xyz="0 -0.1834970151129024 0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 -0.1834970151129024 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.9596380274207295 0.3669940302258048 0.20271424778416547" />
            </geometry>
            <material name="Blue">
                <color rgba="0 0 1 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 -0.1834970151129024 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.9596380274207295 0.3669940302258048 0.20271424778416547" />
            </geometry>
        </collision>
    </link>
    <link name="link3NNP">
        <inertial>
            <origin xyz="-0.38692965732441487 0 0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="-0.38692965732441487 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.7738593146488297 0.20094302588774157 0.8581851284251327" />
            </geometry>
            <material name="Green">
                <color rgba="0 1 0 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="-0.38692965732441487 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.7738593146488297 0.20094302588774157 0.8581851284251327" />
            </geometry>
        </collision>
    </link>
    <link name="link4NNP">
        <inertial>
            <origin xyz="0 -0.2216719279427311 0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 -0.2216719279427311 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.3523679442340368 0.4433438558854622 0.358813100300156" />
            </geometry>
            <material name="Green">
                <color rgba="0 1 0 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 -0.2216719279427311 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.3523679442340368 0.4433438558854622 0.358813100300156" />
            </geometry>
        </collision>
    </link>
    <link name="link5NNP">
        <inertial>
            <origin xyz="0 0 0.14007227562548363" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 0.14007227562548363" rpy="0 0 0"/>
            <geometry>
                <box size="0.42398619466149806 0.5914060747093592 0.28014455125096727" />
            </geometry>
            <material name="Green">
                <color rgba="0 1 0 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 0.14007227562548363" rpy="0 0 0"/>
            <geometry>
                <box size="0.42398619466149806 0.5914060747093592 0.28014455125096727" />
            </geometry>
        </collision>
    </link>
    <link name="link6NNP">
        <inertial>
            <origin xyz="0 -0.24238133147195096 0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 -0.24238133147195096 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.6918973254173615 0.4847626629439019 0.33806094368031625" />
            </geometry>
            <material name="Green">
                <color rgba="0 1 0 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 -0.24238133147195096 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.6918973254173615 0.4847626629439019 0.33806094368031625" />
            </geometry>
        </collision>
    </link>
    <link name="link7NNP">
        <inertial>
            <origin xyz="0 0 0.16138651900126308" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 0.16138651900126308" rpy="0 0 0"/>
            <geometry>
                <box size="0.5567389293784314 0.20430871669919531 0.32277303800252616" />
            </geometry>
            <material name="Blue">
                <color rgba="0 0 1 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 0.16138651900126308" rpy="0 0 0"/>
            <geometry>
                <box size="0.5567389293784314 0.20430871669919531 0.32277303800252616" />
            </geometry>
        </collision>
    </link>
    <joint name="link1NPP_link2NPP" type="revolute">
       <parent link="link1NPP"/>
       <child  link="link2NPP"/>
       <origin rpy="0 0 0" xyz="0 0.0 0.5" />
       <axis xyz="0 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <joint name="link2NPP_link3NPP" type="revolute">
       <parent link="link2NPP"/>
       <child  link="link3NPP"/>
       <origin rpy="0 0 0" xyz="-0.47981901371036473 0.1834970151129024 0" />
       <axis xyz="0 0 1"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <joint name="link3NPP_link4NPP" type="revolute">
       <parent link="link3NPP"/>
       <child  link="link4NPP"/>
       <origin rpy="0 0 0" xyz="-0.38692965732441487 0.10047151294387079 0" />
       <axis xyz="0 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <joint name="link4NPP_link5NPP" type="revolute">
       <parent link="link4NPP"/>
       <child  link="link5NPP"/>
       <origin rpy="0 0 0" xyz="0 0.2216719279427311 0.179406550150078" />
       <axis xyz="1 0 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <joint name="link5NPP_link6NPP" type="revolute">
       <parent link="link5NPP"/>
       <child  link="link6NPP"/>
       <origin rpy="0 0 0" xyz="0 0.2957030373546796 0.14007227562548363" />
       <axis xyz="1 0 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <joint name="link6NPP_link7NPP" type="revolute">
       <parent link="link6NPP"/>
       <child  link="link7NPP"/>
       <origin rpy="0 0 0" xyz="0 0.24238133147195096 0.16903047184015813" />
       <axis xyz="0 0 1"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <joint name="link1NNP_link2NNP" type="revolute">
       <parent link="link1NNP"/>
       <child  link="link2NNP"/>
       <origin rpy="0 0 0" xyz="0 0.0 0.5" />
       <axis xyz="0 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <joint name="link2NNP_link3NNP" type="revolute">
       <parent link="link2NNP"/>
       <child  link="link3NNP"/>
       <origin rpy="0 0 0" xyz="-0.47981901371036473 -0.1834970151129024 0" />
       <axis xyz="0 0 1"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <joint name="link3NNP_link4NNP" type="revolute">
       <parent link="link3NNP"/>
       <child  link="link4NNP"/>
       <origin rpy="0 0 0" xyz="-0.38692965732441487 -0.10047151294387079 0" />
       <axis xyz="0 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <joint name="link4NNP_link5NNP" type="revolute">
       <parent link="link4NNP"/>
       <child  link="link5NNP"/>
       <origin rpy="0 0 0" xyz="0 -0.2216719279427311 0.179406550150078" />
       <axis xyz="1 0 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <joint name="link5NNP_link6NNP" type="revolute">
       <parent link="link5NNP"/>
       <child  link="link6NNP"/>
       <origin rpy="0 0 0" xyz="0 -0.2957030373546796 0.14007227562548363" />
       <axis xyz="1 0 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <joint name="link6NNP_link7NNP" type="revolute">
       <parent link="link6NNP"/>
       <child  link="link7NNP"/>
       <origin rpy="0 0 0" xyz="0 -0.24238133147195096 0.16903047184015813" />
       <axis xyz="0 0 1"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
</robot>