<robot name = "robot">
    <link name="rootLink">
        <inertial>
            <origin xyz="0 0 1" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 1" rpy="0 0 0"/>
            <geometry>
                <box size="1 1 1" />
            </geometry>
            <material name="Green">
                <color rgba="0 1 0 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 1" rpy="0 0 0"/>
            <geometry>
                <box size="1 1 1" />
            </geometry>
        </collision>
    </link>
    <joint name="rootLink_link1NPP" type="revolute">
       <parent link="rootLink"/>
       <child  link="link1NPP"/>
       <origin rpy="0 0 0" xyz="0 0.5 0.5" />
       <axis xyz="0 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <joint name="rootLink_link1NNP" type="revolute">
       <parent link="rootLink"/>
       <child  link="link1NNP"/>
       <origin rpy="0 0 0" xyz="0 -0.5 0.5" />
       <axis xyz="0 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="link1NPP">
        <inertial>
            <origin xyz="0 1 1" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 1 1" rpy="0 0 0"/>
            <geometry>
                <box size="0 0 1" />
            </geometry>
            <material name="Blue">
                <color rgba="0 0 1 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 1 1" rpy="0 0 0"/>
            <geometry>
                <box size="0 0 1" />
            </geometry>
        </collision>
    </link>
    <link name="link2NPP">
        <inertial>
            <origin xyz="0 0.27197668442429235 0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0.27197668442429235 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.25249667461818465 0.5439533688485847 0.9543576170505306" />
            </geometry>
            <material name="Blue">
                <color rgba="0 0 1 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0.27197668442429235 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.25249667461818465 0.5439533688485847 0.9543576170505306" />
            </geometry>
        </collision>
    </link>
    <link name="link3NPP">
        <inertial>
            <origin xyz="0 0 0.25347177106815205" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 0.25347177106815205" rpy="0 0 0"/>
            <geometry>
                <box size="0.8179841244701931 0.3536638909877465 0.5069435421363041" />
            </geometry>
            <material name="Green">
                <color rgba="0 1 0 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 0.25347177106815205" rpy="0 0 0"/>
            <geometry>
                <box size="0.8179841244701931 0.3536638909877465 0.5069435421363041" />
            </geometry>
        </collision>
    </link>
    <link name="link4NPP">
        <inertial>
            <origin xyz="-0.3563939450249801 0 0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="-0.3563939450249801 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.7127878900499602 0.2509283251731148 0.4296706719961802" />
            </geometry>
            <material name="Green">
                <color rgba="0 1 0 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="-0.3563939450249801 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.7127878900499602 0.2509283251731148 0.4296706719961802" />
            </geometry>
        </collision>
    </link>
    <link name="link5NPP">
        <inertial>
            <origin xyz="0 0.1071867666860378 0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0.1071867666860378 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.24442163671172912 0.2143735333720756 0.5342928358370356" />
            </geometry>
            <material name="Blue">
                <color rgba="0 0 1 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0.1071867666860378 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.24442163671172912 0.2143735333720756 0.5342928358370356" />
            </geometry>
        </collision>
    </link>
    <link name="link6NPP">
        <inertial>
            <origin xyz="0 0 0.10404403759904156" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 0.10404403759904156" rpy="0 0 0"/>
            <geometry>
                <box size="0.5772230946479204 0.5554180174853907 0.20808807519808312" />
            </geometry>
            <material name="Blue">
                <color rgba="0 0 1 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 0.10404403759904156" rpy="0 0 0"/>
            <geometry>
                <box size="0.5772230946479204 0.5554180174853907 0.20808807519808312" />
            </geometry>
        </collision>
    </link>
    <link name="link1NNP">
        <inertial>
            <origin xyz="0 1 1" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 1 1" rpy="0 0 0"/>
            <geometry>
                <box size="0 0 1" />
            </geometry>
            <material name="Blue">
                <color rgba="0 0 1 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 1 1" rpy="0 0 0"/>
            <geometry>
                <box size="0 0 1" />
            </geometry>
        </collision>
    </link>
    <link name="link2NNP">
        <inertial>
            <origin xyz="0 -0.27197668442429235 0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 -0.27197668442429235 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.25249667461818465 0.5439533688485847 0.9543576170505306" />
            </geometry>
            <material name="Blue">
                <color rgba="0 0 1 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 -0.27197668442429235 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.25249667461818465 0.5439533688485847 0.9543576170505306" />
            </geometry>
        </collision>
    </link>
    <link name="link3NNP">
        <inertial>
            <origin xyz="0 0 0.25347177106815205" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 0.25347177106815205" rpy="0 0 0"/>
            <geometry>
                <box size="0.8179841244701931 0.3536638909877465 0.5069435421363041" />
            </geometry>
            <material name="Green">
                <color rgba="0 1 0 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 0.25347177106815205" rpy="0 0 0"/>
            <geometry>
                <box size="0.8179841244701931 0.3536638909877465 0.5069435421363041" />
            </geometry>
        </collision>
    </link>
    <link name="link4NNP">
        <inertial>
            <origin xyz="-0.3563939450249801 0 0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="-0.3563939450249801 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.7127878900499602 0.2509283251731148 0.4296706719961802" />
            </geometry>
            <material name="Green">
                <color rgba="0 1 0 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="-0.3563939450249801 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.7127878900499602 0.2509283251731148 0.4296706719961802" />
            </geometry>
        </collision>
    </link>
    <link name="link5NNP">
        <inertial>
            <origin xyz="0 -0.1071867666860378 0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 -0.1071867666860378 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.24442163671172912 0.2143735333720756 0.5342928358370356" />
            </geometry>
            <material name="Blue">
                <color rgba="0 0 1 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 -0.1071867666860378 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.24442163671172912 0.2143735333720756 0.5342928358370356" />
            </geometry>
        </collision>
    </link>
    <link name="link6NNP">
        <inertial>
            <origin xyz="0 0 0.10404403759904156" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 0.10404403759904156" rpy="0 0 0"/>
            <geometry>
                <box size="0.5772230946479204 0.5554180174853907 0.20808807519808312" />
            </geometry>
            <material name="Blue">
                <color rgba="0 0 1 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 0.10404403759904156" rpy="0 0 0"/>
            <geometry>
                <box size="0.5772230946479204 0.5554180174853907 0.20808807519808312" />
            </geometry>
        </collision>
    </link>
    <joint name="link1NPP_link2NPP" type="revolute">
       <parent link="link1NPP"/>
       <child  link="link2NPP"/>
       <origin rpy="0 0 0" xyz="0 0.0 0.5" />
       <axis xyz="0 0 1"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <joint name="link2NPP_link3NPP" type="revolute">
       <parent link="link2NPP"/>
       <child  link="link3NPP"/>
       <origin rpy="0 0 0" xyz="0 0.27197668442429235 0.4771788085252653" />
       <axis xyz="0 0 1"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <joint name="link3NPP_link4NPP" type="revolute">
       <parent link="link3NPP"/>
       <child  link="link4NPP"/>
       <origin rpy="0 0 0" xyz="-0.40899206223509654 0 0.25347177106815205" />
       <axis xyz="0 0 1"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <joint name="link4NPP_link5NPP" type="revolute">
       <parent link="link4NPP"/>
       <child  link="link5NPP"/>
       <origin rpy="0 0 0" xyz="-0.3563939450249801 0.1254641625865574 0" />
       <axis xyz="0 0 1"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <joint name="link5NPP_link6NPP" type="revolute">
       <parent link="link5NPP"/>
       <child  link="link6NPP"/>
       <origin rpy="0 0 0" xyz="0 0.1071867666860378 0.2671464179185178" />
       <axis xyz="0 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <joint name="link1NNP_link2NNP" type="revolute">
       <parent link="link1NNP"/>
       <child  link="link2NNP"/>
       <origin rpy="0 0 0" xyz="0 0.0 0.5" />
       <axis xyz="0 0 1"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <joint name="link2NNP_link3NNP" type="revolute">
       <parent link="link2NNP"/>
       <child  link="link3NNP"/>
       <origin rpy="0 0 0" xyz="0 -0.27197668442429235 0.4771788085252653" />
       <axis xyz="0 0 1"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <joint name="link3NNP_link4NNP" type="revolute">
       <parent link="link3NNP"/>
       <child  link="link4NNP"/>
       <origin rpy="0 0 0" xyz="-0.40899206223509654 0 0.25347177106815205" />
       <axis xyz="0 0 1"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <joint name="link4NNP_link5NNP" type="revolute">
       <parent link="link4NNP"/>
       <child  link="link5NNP"/>
       <origin rpy="0 0 0" xyz="-0.3563939450249801 -0.1254641625865574 0" />
       <axis xyz="0 0 1"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <joint name="link5NNP_link6NNP" type="revolute">
       <parent link="link5NNP"/>
       <child  link="link6NNP"/>
       <origin rpy="0 0 0" xyz="0 -0.1071867666860378 0.2671464179185178" />
       <axis xyz="0 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
</robot>