<robot name = "robot">
    <link name="rootLink">
        <inertial>
            <origin xyz="0 0 1" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 1" rpy="0 0 0"/>
            <geometry>
                <box size="1 1 1" />
            </geometry>
            <material name="Green">
                <color rgba="0 1 0 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 1" rpy="0 0 0"/>
            <geometry>
                <box size="1 1 1" />
            </geometry>
        </collision>
    </link>
    <joint name="rootLink_link1NPP" type="revolute">
       <parent link="rootLink"/>
       <child  link="link1NPP"/>
       <origin rpy="0 0 0" xyz="0 0.5 0.5" />
       <axis xyz="0 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <joint name="rootLink_link1NNP" type="revolute">
       <parent link="rootLink"/>
       <child  link="link1NNP"/>
       <origin rpy="0 0 0" xyz="0 -0.5 0.5" />
       <axis xyz="0 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="link1NPP">
        <inertial>
            <origin xyz="0 1 1" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 1 1" rpy="0 0 0"/>
            <geometry>
                <box size="0 0 1" />
            </geometry>
            <material name="Green">
                <color rgba="0 1 0 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 1 1" rpy="0 0 0"/>
            <geometry>
                <box size="0 0 1" />
            </geometry>
        </collision>
    </link>
    <link name="link2NPP">
        <inertial>
            <origin xyz="0 0.15013746785702234 0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0.15013746785702234 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.4738500328628672 0.3002749357140447 0.6774331147755288" />
            </geometry>
            <material name="Green">
                <color rgba="0 1 0 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0.15013746785702234 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.4738500328628672 0.3002749357140447 0.6774331147755288" />
            </geometry>
        </collision>
    </link>
    <link name="link3NPP">
        <inertial>
            <origin xyz="-0.36624232880717367 0 0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="-0.36624232880717367 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.7324846576143473 0.20528150341399135 0.7450245404833877" />
            </geometry>
            <material name="Blue">
                <color rgba="0 0 1 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="-0.36624232880717367 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.7324846576143473 0.20528150341399135 0.7450245404833877" />
            </geometry>
        </collision>
    </link>
    <link name="link4NPP">
        <inertial>
            <origin xyz="0 0 0.3630464799729963" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 0.3630464799729963" rpy="0 0 0"/>
            <geometry>
                <box size="0.7191467902490596 0.355456897132579 0.7260929599459927" />
            </geometry>
            <material name="Green">
                <color rgba="0 1 0 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 0.3630464799729963" rpy="0 0 0"/>
            <geometry>
                <box size="0.7191467902490596 0.355456897132579 0.7260929599459927" />
            </geometry>
        </collision>
    </link>
    <link name="link1NNP">
        <inertial>
            <origin xyz="0 1 1" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 1 1" rpy="0 0 0"/>
            <geometry>
                <box size="0 0 1" />
            </geometry>
            <material name="Green">
                <color rgba="0 1 0 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 1 1" rpy="0 0 0"/>
            <geometry>
                <box size="0 0 1" />
            </geometry>
        </collision>
    </link>
    <link name="link2NNP">
        <inertial>
            <origin xyz="0 -0.15013746785702234 0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 -0.15013746785702234 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.4738500328628672 0.3002749357140447 0.6774331147755288" />
            </geometry>
            <material name="Green">
                <color rgba="0 1 0 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 -0.15013746785702234 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.4738500328628672 0.3002749357140447 0.6774331147755288" />
            </geometry>
        </collision>
    </link>
    <link name="link3NNP">
        <inertial>
            <origin xyz="-0.36624232880717367 0 0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="-0.36624232880717367 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.7324846576143473 0.20528150341399135 0.7450245404833877" />
            </geometry>
            <material name="Blue">
                <color rgba="0 0 1 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="-0.36624232880717367 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.7324846576143473 0.20528150341399135 0.7450245404833877" />
            </geometry>
        </collision>
    </link>
    <link name="link4NNP">
        <inertial>
            <origin xyz="0 0 0.3630464799729963" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 0.3630464799729963" rpy="0 0 0"/>
            <geometry>
                <box size="0.7191467902490596 0.355456897132579 0.7260929599459927" />
            </geometry>
            <material name="Green">
                <color rgba="0 1 0 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 0.3630464799729963" rpy="0 0 0"/>
            <geometry>
                <box size="0.7191467902490596 0.355456897132579 0.7260929599459927" />
            </geometry>
        </collision>
    </link>
    <joint name="link1NPP_link2NPP" type="revolute">
       <parent link="link1NPP"/>
       <child  link="link2NPP"/>
       <origin rpy="0 0 0" xyz="0 0.0 0.5" />
       <axis xyz="0 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <joint name="link2NPP_link3NPP" type="revolute">
       <parent link="link2NPP"/>
       <child  link="link3NPP"/>
       <origin rpy="0 0 0" xyz="-0.2369250164314336 0.15013746785702234 0" />
       <axis xyz="0 0 1"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <joint name="link3NPP_link4NPP" type="revolute">
       <parent link="link3NPP"/>
       <child  link="link4NPP"/>
       <origin rpy="0 0 0" xyz="-0.36624232880717367 0 0.37251227024169387" />
       <axis xyz="0 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <joint name="link1NNP_link2NNP" type="revolute">
       <parent link="link1NNP"/>
       <child  link="link2NNP"/>
       <origin rpy="0 0 0" xyz="0 0.0 0.5" />
       <axis xyz="0 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <joint name="link2NNP_link3NNP" type="revolute">
       <parent link="link2NNP"/>
       <child  link="link3NNP"/>
       <origin rpy="0 0 0" xyz="-0.2369250164314336 -0.15013746785702234 0" />
       <axis xyz="0 0 1"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <joint name="link3NNP_link4NNP" type="revolute">
       <parent link="link3NNP"/>
       <child  link="link4NNP"/>
       <origin rpy="0 0 0" xyz="-0.36624232880717367 0 0.37251227024169387" />
       <axis xyz="0 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
</robot>