<robot name = "robot">
    <link name="rootLink">
        <inertial>
            <origin xyz="0 0 1" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 1" rpy="0 0 0"/>
            <geometry>
                <box size="1 1 1" />
            </geometry>
            <material name="Green">
                <color rgba="0 1 0 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 1" rpy="0 0 0"/>
            <geometry>
                <box size="1 1 1" />
            </geometry>
        </collision>
    </link>
    <joint name="rootLink_link1NPP" type="revolute">
       <parent link="rootLink"/>
       <child  link="link1NPP"/>
       <origin rpy="0 0 0" xyz="0 0.5 0.5" />
       <axis xyz="0 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <joint name="rootLink_link1NNP" type="revolute">
       <parent link="rootLink"/>
       <child  link="link1NNP"/>
       <origin rpy="0 0 0" xyz="0 -0.5 0.5" />
       <axis xyz="0 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="link1NPP">
        <inertial>
            <origin xyz="0 1 1" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 1 1" rpy="0 0 0"/>
            <geometry>
                <box size="0 0 1" />
            </geometry>
            <material name="Blue">
                <color rgba="0 0 1 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 1 1" rpy="0 0 0"/>
            <geometry>
                <box size="0 0 1" />
            </geometry>
        </collision>
    </link>
    <link name="link2NPP">
        <inertial>
            <origin xyz="-0.21736280058293464 0 0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="-0.21736280058293464 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.4347256011658693 0.39122586766040834 0.3917648669108991" />
            </geometry>
            <material name="Green">
                <color rgba="0 1 0 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="-0.21736280058293464 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.4347256011658693 0.39122586766040834 0.3917648669108991" />
            </geometry>
        </collision>
    </link>
    <link name="link3NPP">
        <inertial>
            <origin xyz="0 0.2714073159144077 0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0.2714073159144077 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.44630380975953843 0.5428146318288154 0.7829285983494692" />
            </geometry>
            <material name="Green">
                <color rgba="0 1 0 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0.2714073159144077 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.44630380975953843 0.5428146318288154 0.7829285983494692" />
            </geometry>
        </collision>
    </link>
    <link name="link4NPP">
        <inertial>
            <origin xyz="-0.2612676585780374 0 0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="-0.2612676585780374 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.5225353171560748 0.33140828400619476 0.531777287177154" />
            </geometry>
            <material name="Green">
                <color rgba="0 1 0 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="-0.2612676585780374 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.5225353171560748 0.33140828400619476 0.531777287177154" />
            </geometry>
        </collision>
    </link>
    <link name="link5NPP">
        <inertial>
            <origin xyz="0 0.12630498656584693 0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0.12630498656584693 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.5922832309724069 0.25260997313169387 0.27020269464903746" />
            </geometry>
            <material name="Blue">
                <color rgba="0 0 1 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0.12630498656584693 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.5922832309724069 0.25260997313169387 0.27020269464903746" />
            </geometry>
        </collision>
    </link>
    <link name="link1NNP">
        <inertial>
            <origin xyz="0 1 1" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 1 1" rpy="0 0 0"/>
            <geometry>
                <box size="0 0 1" />
            </geometry>
            <material name="Blue">
                <color rgba="0 0 1 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 1 1" rpy="0 0 0"/>
            <geometry>
                <box size="0 0 1" />
            </geometry>
        </collision>
    </link>
    <link name="link2NNP">
        <inertial>
            <origin xyz="-0.21736280058293464 0 0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="-0.21736280058293464 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.4347256011658693 0.39122586766040834 0.3917648669108991" />
            </geometry>
            <material name="Green">
                <color rgba="0 1 0 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="-0.21736280058293464 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.4347256011658693 0.39122586766040834 0.3917648669108991" />
            </geometry>
        </collision>
    </link>
    <link name="link3NNP">
        <inertial>
            <origin xyz="0 -0.2714073159144077 0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 -0.2714073159144077 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.44630380975953843 0.5428146318288154 0.7829285983494692" />
            </geometry>
            <material name="Green">
                <color rgba="0 1 0 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 -0.2714073159144077 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.44630380975953843 0.5428146318288154 0.7829285983494692" />
            </geometry>
        </collision>
    </link>
    <link name="link4NNP">
        <inertial>
            <origin xyz="-0.2612676585780374 0 0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="-0.2612676585780374 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.5225353171560748 0.33140828400619476 0.531777287177154" />
            </geometry>
            <material name="Green">
                <color rgba="0 1 0 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="-0.2612676585780374 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.5225353171560748 0.33140828400619476 0.531777287177154" />
            </geometry>
        </collision>
    </link>
    <link name="link5NNP">
        <inertial>
            <origin xyz="0 -0.12630498656584693 0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 -0.12630498656584693 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.5922832309724069 0.25260997313169387 0.27020269464903746" />
            </geometry>
            <material name="Blue">
                <color rgba="0 0 1 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 -0.12630498656584693 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.5922832309724069 0.25260997313169387 0.27020269464903746" />
            </geometry>
        </collision>
    </link>
    <joint name="link1NPP_link2NPP" type="revolute">
       <parent link="link1NPP"/>
       <child  link="link2NPP"/>
       <origin rpy="0 0 0" xyz="0.0 0 0.5" />
       <axis xyz="0 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <joint name="link2NPP_link3NPP" type="revolute">
       <parent link="link2NPP"/>
       <child  link="link3NPP"/>
       <origin rpy="0 0 0" xyz="-0.21736280058293464 0.19561293383020417 0" />
       <axis xyz="0 0 1"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <joint name="link3NPP_link4NPP" type="revolute">
       <parent link="link3NPP"/>
       <child  link="link4NPP"/>
       <origin rpy="0 0 0" xyz="-0.22315190487976921 0.2714073159144077 0" />
       <axis xyz="0 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <joint name="link4NPP_link5NPP" type="revolute">
       <parent link="link4NPP"/>
       <child  link="link5NPP"/>
       <origin rpy="0 0 0" xyz="-0.2612676585780374 0.16570414200309738 0" />
       <axis xyz="0 0 1"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <joint name="link1NNP_link2NNP" type="revolute">
       <parent link="link1NNP"/>
       <child  link="link2NNP"/>
       <origin rpy="0 0 0" xyz="0.0 0 0.5" />
       <axis xyz="0 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <joint name="link2NNP_link3NNP" type="revolute">
       <parent link="link2NNP"/>
       <child  link="link3NNP"/>
       <origin rpy="0 0 0" xyz="-0.21736280058293464 -0.19561293383020417 0" />
       <axis xyz="0 0 1"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <joint name="link3NNP_link4NNP" type="revolute">
       <parent link="link3NNP"/>
       <child  link="link4NNP"/>
       <origin rpy="0 0 0" xyz="-0.22315190487976921 -0.2714073159144077 0" />
       <axis xyz="0 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <joint name="link4NNP_link5NNP" type="revolute">
       <parent link="link4NNP"/>
       <child  link="link5NNP"/>
       <origin rpy="0 0 0" xyz="-0.2612676585780374 -0.16570414200309738 0" />
       <axis xyz="0 0 1"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
</robot>